*{
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: sans-serif;
    background-color: #686767;
  }
    h1 {
        text-align: center;
        font-size: 2em;
        margin-bottom: 1em;
    }
    p {
        text-align: center;
        font-size: 1em;
        margin-bottom: 1em;
        color: #000000;
    }
  
    .wrapper {
        width: 90%;
        height: 100%;

        
        margin: 0 auto;
    }
  nav ul {
    list-style: none;
    padding: 3px 5px;
    background: #111;
    width: 100%;
  
    a {
      color: #fff;
      font-size: 1,5em;
      text-decoration: none;
      padding: 10px 0;
      margin-left: 30px;
  
      &:hover {
        text-decoration: underline;
      }
    }
  
    li {
      display: inline;
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  
  footer {
    background: #4475b0;
    padding: 50px 0 0;
    font-size: .7em;
    text-align: center;
    
  }
  
  #map {
    height: 300px;
  }